fastapi
uvicorn[standard]
pymongo
python-multipart
python-dotenv
pydantic
bcrypt
python-jose[cryptography]
passlib[bcrypt]
requests
google-generativeai
Pillow
motor
email-validator
httpx
aiofiles
websockets
tqdm